@using Microsoft.ApplicationInsights.AspNetCore
@{
    var topNavbar = Html.PartialAsync("_Navbar");
    var message = Html.PartialAsync("_MessagePartial");
    var modals = Html.PartialAsync("_Modals");
    var footer = Html.PartialAsync("_Footer");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - GsmRanking</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/tether/tether.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/css/tether.min.css"
              asp-fallback-href="~/lib/tether/dist/css/tether.min.css" />*@
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        @*<script src="https://use.fontawesome.com/fa946ec60d.js"></script>*@
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>

    @await topNavbar

    <div class="container body-content">
        <div class="row">
            <div class="col">
                <noscript>
                    <div class="alert alert-warning">
                        Javascipt is turned off in your browser. Turn it on to make the webstie work properly.
                    </div>
                </noscript>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @await message
            </div>
        </div>
        <div class="row">
            <div class="col">
                @RenderBody()
            </div>
        </div>
        <div class="row">
            <div class="col">
                @await footer
            </div>
        </div>
    </div>

    @await modals

    <environment names="Development">
        <script src="~/lib/jquery/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/tether/tether.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.1.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://cdn.jsdelivr.net/tether/1.4.0/tether.min.js"
                asp-fallback-src="~/lib/tether/dist/js/tether.min.js">
        </script>
        @*//TODO specify fallback*@
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0-alpha.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js"></script>
    </environment>
    <script>
    $(function() {
        checkForMobieIe8();
    });

    function checkForMobieIe8() {
            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement('style');
                msViewportStyle.appendChild(document.createTextNode('@("@-ms-viewport{width:auto!important}")'));
                document.head.appendChild(msViewportStyle);
            }
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
