@using GsmRanking.Models;
@model News

@{
    Layout = "_Layout";
    ViewData["Title"] = @Model.Title;
}
<div class="row">
	
	<div class="col">
		<h1>@Model.Title</h1>
        @if(@Model.PublishDate == null)
		{
            <small>Nieopublikowany</small>
		} else 
		{
		    <small>@Model.PublishDate</small>
		}
		<small> Wyświetlenia: @Model.ViewsCount</small>
	</div>
	<div class="col">
                <img class="card-img-top" src="data:image/jpg;base64,@Model.Image" alt="@Model.Title" style="margin: auto; ">

	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<br />
		<div>
			<p>@Html.Raw(@Model.Content)</p>
		</div>
	</div>
</div>