@using GsmRanking.Models;
@model IList<News>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Wszystkie newsy";
}

<h1>Wszystkie newsy</h1>
@*TODO: Show only for admin*@
<a class="btn btn-success pull-right" asp-controller="News" asp-action="Create">Stwórz newsa</a>
<div class="row">
    <div class="container">
        <div class="panel-group" id="accordion">
            @for (int i = Model.Count()-1; i >= 0; i--)
            {
                <div class="panel panel-default" style="margin-top:10px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion">
                                @Model[i].Title
                            </a>
                        </h3>
                        <small>Utworzono @Model[i].CreateDate</small>
                    </div>
                    <div class="panel">
                        <div class="panel-body">
                            <img class="card-img-top" src="data:image/jpg;base64,@Model[i].Image" alt="@Model[i].Title" style="height: auto; padding-top: 1em; width: 300px; ">
                            <p>@Model[i].ShortText</p>

                            <div id="buttons-panel">
                                <a class="btn btn-primary btn-sm" asp-controller="News" asp-action="Details" asp-route-id="@Model[i].IdNews">Szczegóły</a>
                                @if (!Model[i].IsPublished)
                                {
                                    <a class="btn btn-success btn-sm" asp-controller="News" asp-action="Publish" asp-route-id="@Model[i].IdNews" asp-route-publish="true">Opublikuj</a>
                                }
                                else
                                {
                                    <a class="btn btn-secondary btn-sm" asp-controller="News" asp-action="Publish" asp-route-id="@Model[i].IdNews" asp-route-publish="false">Ukryj</a>
                                }

                                <a class="btn btn-warning btn-sm" asp-controller="News" asp-action="Edit" asp-route-id="@Model[i].IdNews">Edytuj</a>
                                <a class="btn btn-danger btn-sm" asp-controller="News" asp-action="Delete" asp-route-id="@Model[i].IdNews">Usuń</a>
                            </div>
                            @if (i != 0)
                            {
                                <hr />
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


