﻿@using GsmRanking.Models;
@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService AuthorizationService

@model IList<News>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Wszystkie newsy";
}
<div class="row" id="news-header">
    <div class="col-md-8">
        <h1>Wszystkie newsy</h1>
    </div>
    <div class="col-md-4" >
        @* TODO: Check user policy*@
        @if (User.IsInRole("2") || User.IsInRole("1"))
        {
            <a class="btn btn-lg btn-block btn-success pull-right" asp-controller="News" asp-action="Create">
	        Stwórz newsa
	        </a>
        }
    </div>
</div>

<div class="panel-group" id="accordion">
    <div class="row">
        @for (int i = Model.Count()-1; i >= 0; i--) {
        <div class="col-md-6 col-sm-12">
            <div class="panel panel-primary" id="news-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion">
                              @Model[i].Title
                           </a>
                    </h3>
                    <small>Utworzono @Model[i].CreateDate</small>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class="card-img-top img-responsive img-thumbnail" style="width:100%;" src="data:image/jpg;base64,@Model[i].Image" alt="@Model[i].Title">
                        <p>@Model[i].ShortText</p>
                    </div>
                </div>
            </div>
			<div id="buttons-panel">
                        <a class="btn btn-primary btn-sm" asp-controller="News" asp-action="Details" asp-route-id="@Model[i].IdNews">Czytaj dalej</a>
                        @* TODO: Check user policy*@
                        @if (User.IsInRole("2") || User.IsInRole("1"))
                        {
                            @if (!Model[i].IsPublished) {
                                <a class="btn btn-success btn-sm" asp-controller="News" asp-action="Publish" asp-route-id="@Model[i].IdNews" asp-route-publish="true">Opublikuj</a>                        
                            }
                            else
                            {
                                <a class="btn btn-secondary btn-sm" asp-controller="News" asp-action="Publish" asp-route-id="@Model[i].IdNews" asp-route-publish="false">Ukryj</a>          
                            }
                            <a class="btn btn-warning btn-sm" asp-controller="News" asp-action="Edit" asp-route-id="@Model[i].IdNews">Edytuj</a>
                            <a class="btn btn-danger btn-sm" asp-controller="News" asp-action="Delete" asp-route-id="@Model[i].IdNews">Usuń</a>
                        }           
                       
                            
                        

                    </div>
        </div>
        }
    </div>
</div>
